body {
    background-image: url('https://i.postimg.cc/C1m9QmYj/pexels-lukas-616401-2.jpg');
    background-position: center center;
    background-size: cover;
    background-attachment: fixed;
}

h1 {
  text-align: center;
  font-family: 'Shadows Into Light', cursive;
  Font-Size: 60px;
}

.container {
  max-width: 1140px;
  margin: 150px auto;

  border: 3px solid #333333;
  border-radius: 2% 6% 5% 4% / 1% 1% 2% 4%;
  background: #ffffff;
  position: relative;

  &::before {
    content: '';
    border: 2px solid #353535;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate3d(-50%, -50%, 0) scale(1.015) rotate(0.5deg);
    border-radius: 1% 1% 2% 4% / 2% 6% 5% 4%;
    z-index: -1;
  }

  .main {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    z-index: 10;

    .categories {
      flex-basis: 20%;
      margin-bottom: 100px;
      border-right: 3px solid rgba(0, 0, 0, 0.664);
    }

    .products {
      flex-basis: 40%;
      margin-bottom: 100px;
      border-right: 3px solid rgba(0, 0, 0, 0.664);

      .article {
        display: none;
      }

      .active {
        display: block;
      }
    }

    .cart {
      font-family: 'Josefin Sans', sans-serif;
      flex-basis: 40%;
      Font-Size: 28px;
      margin-left: 25px;
    }

  }

}

li {
  list-style: none;
  font-family: 'Josefin Sans', sans-serif;
  Font-Size: 28px;
  line-height: 35px;

  a {
    text-decoration: none;
    color: black;
  }

  a:hover {
    color: rgb(28, 148, 28);
    font-weight: bold;
    font-size: 30px;
  }

  i {
    float: right;
    margin-right: 15px;
    font-size: 20px;
  }

  i:hover {
    color:rgb(28, 148, 28);
  }

  input {
    width: 60px;
    text-align: center;
    float: right;
    margin-right: 25px;
  }

}
